@media (max-width: 1300px) {

}

@media (max-width: 768px) {
    header .gnb li.center,
    header .gnb li.push-right {
        display: none;
    }

    .about .flx-cont {
        flex-direction: column;
        margin: 0;
        margin-top: 60px;
    }
    .about .photo {
        align-self: center;
    }
    .about-me h2 {
        text-align: center;
    }
    .about-me p {
        margin-left: 20px;
    }

    .projects .flx-cont {
        padding: 20px;
    }
    .projects .block {
        display: flex;
        flex-direction: column;
        width: 100%;
    }  
    .projects .block iframe {
        align-self: center;
        margin-bottom: 40px;
        width: 100%;
    }
    .projects .block .description {
        width: 100%;
        margin-left: 0px;
    }
}