@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=PT+Sans+Caption&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, ul, li, p {
    margin: 0; padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}

/* Global CSS */
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    background: rgb(24,53,92);
    background: linear-gradient(27deg, rgba(24,53,92,1) 0%, rgba(31,41,55,1) 47%, rgba(36,69,113,1) 100%); 
    color: #fff;
    font-family: 'Roboto', sans-serif;
}


/* header */
header {
    display: flex;
    width: 100%; height: 60px;
    background: #1b1259ec;
    position: fixed;
    top: 0; left: 0;
}
header .gnb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
header .gnb li {
    margin: 0 10px;
}
header .gnb li.push-left {
    margin-right: auto;
    font-size: 24px;
}
header .gnb li.push-right {
    margin-left: auto;
    position: relative;
}
header .gnb li.push-right::after {
    content: "";
    display: block;
    background: #fff;
    width: 0; height: 1px;
    position: absolute;
    left: 50%; bottom: -6px;
    transition: 0.3s;
}
header .gnb li.push-right:hover::after {
    width: 80%;
    left: 10%;
}
header .gnb a {
    font-family: 'Montserrat', sans-serif;
    padding: 4px 20px;
    transition: 0.2s;
}
header .gnb li.center:hover a {
    background: #eee;
    color: #111;
}


/* About */
.about {
    display: flex;
    justify-content: center;
}
.about .flx-cont {
    display: flex;
    width: 1300px;
    margin: 120px 80px 80px 80px;
}
.photo {
    display: flex;
    flex: 1 1 auto;
}
.photo img {
    width: 100%;
    max-width: 468px;
    height: auto;
}
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    flex: 3 auto;
    margin-left: 40px;
    padding: 40px;
}
.about-me h2 {
    font-size: 40px;
    font-weight: bolder;
    color: #f9faf8;
}
.about-me h2 span {
    font-weight: 200;
}
.about-me p {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5em;
    color: #e5e7eb;
}
.about-me p strong {
    font-weight: 600;
}
.about-me p a {
    color: cornflowerblue;
    font-weight: 300;
}
.about-me p a:hover {
    color: #3882f6;
    text-decoration: underline;
}
.about .link {
    display: flex;
    gap: 16px;
}
.about .bundle {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 240px; height: 40px; line-height: 40px;
    text-align: center;
    transition: 0.2s;
}
.about .link a:last-child {
    background: #3882f6;
    border: 1px solid #3882f6;
}
.about .link a:hover {
    background: #0859db;
    border: 1px solid #0859db;
}


/* Projects */
.projects {
    display: flex;
    justify-content: center;
    background: #fff;
    color: #333;
}
.projects .flx-cont {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 1300px;
    padding: 60px;
}
.projects h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.projects h2::before {
    content: "";
    display: inline-block;
    width: 4px; height: 28px;
    margin-right: 8px;
    background: #3882f6;
}
.projects h3 a {
    color: #333;
}
.projects h3 a:hover {
    color: #3882f6;
}

.projects .block {
    display: flex;
    margin: 60px 0;
}

.projects .block .description {
    margin-left: 60px;
    width: 55%;
}
.projects .block h3 a {
    font-size: 24px;
    line-height: 1.5em;
}
.projects .block h4 {
    margin: 24px 0;
    font-weight: 500;
    font-size: 17px;
}
.projects .block h4 strong {
    font-weight: 800;
}
.projects .block p {
    line-height: 1.6em;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: #ccc;
    border-width: 1px;
    width: 90%;
  }


  footer {
      height: 120px;
      background: #1c1259;
  }