@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=PT+Sans+Caption&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, ul, li, p {
    margin: 0; padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}

/* Global CSS */
body {
    background: rgb(24,53,92);
    background: linear-gradient(27deg, rgba(24,53,92,1) 0%, rgba(31,41,55,1) 47%, rgba(36,69,113,1) 100%);100%); 
    color: #fff;
}


/* header */
header {
    display: flex;
    width: 100%; height: 60px;
    background: rgba(17, 17, 17, 0.7);
    position: fixed;
    top: 0; left: 0;
}
header .gnb {
    display: flex;
    align-items: center;
    width: 100%;
}
header .gnb li {
    margin: 0 10px;
}
header .gnb li.push-left {
    margin-right: auto;
    font-size: 24px;
}
header .gnb li.push-right {
    margin-left: auto;
}
header .gnb a {
    font-family: 'Montserrat', sans-serif;
    padding: 4px 20px;
}
header .gnb a:hover {
    background: #eee;
    color: #111;
}


/* About */
.about {
    display: flex;
    justify-content: center;
}
.about .flx-cont {
    display: flex;
    width: 1300px;
    margin: 120px;
    padding: 0 80px;
}
.photo {
    display: flex;
    flex: 1 auto;
}
.photo img {
    width: 468px;
}
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 3 auto;
    margin: 40px;
}
.about-me h2 {
    font-size: 40px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 20px;
    margin-bottom: -20px;
}
.about-me p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    color: #e5e7eb;
    margin-left: 40px;
}
.about-me p strong {
    font-weight: 600;
}
.about-me p a {
    color: cornflowerblue;
}
.about-me p a:hover {
    color: #3882f6;
    text-decoration: underline;
}
.about .link {
    display: flex;
    margin-left: 40px;
    gap: 12px
}
.about .bundle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(77, 77, 196);
    background: linear-gradient(27deg, rgba(79,79,242,1) 0%, rgba(56,130,246,1) 100%); 
    border-radius: 5px;
    width: 120px; height: 120px;
}
.about .bundle span {
    text-align: center;
    margin-top: 12px;
}
.about .bundle:hover {
    background: rgb(68, 68, 207);

}
.about .bundle img {
    width: 40px;
    margin-bottom: 2px;
}


/* Projects */
.projects {
    display: flex;
    justify-content: center;
    background: #fff;
    color: #333;
}
.projects .flx-cont {
    display: flex;
    flex-direction: column;
    width: 1300px;
    padding: 60px;
}
.projects h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.projects h2::before {
    content: "";
    display: inline-block;
    width: 4px; height: 28px;
    margin-right: 8px;
    background: #3882f6;
}
.projects h3 a {
    color: #333;
}
.projects h3 a:hover {
    color: #3882f6;
}

.projects .block {
    display: flex;
    margin: 60px 80px;
}
.projects .block iframe {
    flex: 1;
    margin-right: 60px;
    margin-left: -100px;
}
.projects .block .description {
    flex: 2;
}
.projects .block h3 a {
    font-size: 24px;
    line-height: 1.5em;
}
.projects .block h4 {
    margin: 24px 0;
    font-weight: 400;
}
.projects .block p {
    line-height: 1.6em;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: #ccc;
    border-width: 1px;
    width: 100%;
  }